.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left side */
  padding: 20px;
  background-color: #2e2e2eed;
  color: #ffffff;
}

.about-title {
  font-size: 12rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.headshot {
  border-radius: 10%;
  max-width: 400px;
  margin: 20px; /* Add margin-right to create spacing between the image and text */
}

.about-text {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.5rem;
}

.text-wrapper {
  display: flex;
  align-items: center; /* Vertically align the image and text */
}