section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #2e2e2eed;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 350;
}

.headshot {
  border-radius: 50%;
  margin-bottom: 20px;
  max-width: 250px;
}

.about-text {
  text-align: justify;
  line-height: 1.6;
  font-size: 1.1em;
  max-width: 800px;
}