.contact-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 70px;
  width: 90%;
  margin: 0 auto;
  background-color: #2e2e2eed;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  box-sizing: border-box;
}

.form-wrapper,
.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

.contact-form-container,
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.contact-form label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #ffffff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  background-color: #9191913c;
  color: white;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form input[type="submit"] {
  display: block;
  background: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background: #0056b3;
}

.contact-info ul {
  list-style: none;
}

.contact-info a {
  text-decoration: none;
  color: #ffffff
}

@media screen and (max-width: 720px) {
  .contact-form-container,
  .contact-info {
    width: 80%;
  }
  
  .contact-section {
    flex-direction: column-reverse;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info li {
  margin-bottom: 40px;
  margin-top: 10px;
}

.contact-info li:hover {
  transform: scale(1.05);
  transform-origin: left center;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}