html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer-container {
  padding: 20px;
  background-color: #2e2e2eed;
  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
}

.icon {
  font-size: 24px;
  margin: 0 10px; /* Add some margin between the icons */
  color: #ffffff;
}

.icon:hover {
  transform: scale(1.05);
}