header {
  align-items: center;
  background-color: #353232c3;
  padding: 20px 40px;
}

h1 {
  color: #ffffff;
  font-size: 1.8em;
  margin: 0;
  font-weight: 350;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

nav ul li {
  font-weight: 350;
  font-size: 1.5em;
  cursor: pointer;
  color: #ffffff;
}

nav ul li:hover {
  transform: scale(1.05); 
}

/* Responsive Styles */
@media (max-width: 720px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  nav ul li {
    font-size: 1.2em;
  }
}

.logo:hover {
  cursor: pointer;
}
