header {
  align-items: center;
  background-color: #2e2e2eed;
  padding: 20px 40px;
}

h1 {
  color: #ffffff;
  font-size: 1.8em;
  margin: 0;
  font-weight: 350;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

nav ul li {
  font-weight: 350;
  font-size: 1.5em;
  cursor: pointer;
  color: #ffffff;
}

.selected {
  color: #b7c4ff;
}

nav ul li:hover {
  transform: scale(1.05); 
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  nav ul li {
    font-size: 1.2em;
  }
}

.logo:hover {
  cursor: pointer;
}


.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2em;
  color: #ffffff;
}

.mobile-nav-list {
  display: none; /* Hide by default */
  list-style: none;
  position: absolute;
  background-color: #2e2e2eed;
  top: 20px;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.mobile-nav-list.open { /* Only show when .open class is added */
  display: block;
}

.mobile-nav-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Hide the regular menu on small screens */
  }

  .menu-icon {
    display: block; /* Show the hamburger icon on small screens */
  }
}

@media (min-width: 769px) {
  nav ul {
    display: flex; /* Show the regular menu on large screens */
  }

  .menu-icon {
    display: none; /* Hide the hamburger icon on large screens */
  }
}