header {
  align-items: center;
  background-color: #353232c3;
  padding: 20px 40px;
}

h1 {
  color: #ffffff;
  font-size: 1.8em;
  margin: 0;
  font-weight: 350;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

nav ul li {
  font-weight: 350;
  font-size: 1.5em;
  cursor: pointer;
  color: #ffffff;
}

nav ul li:hover {
  transform: scale(1.05); 
}