.portfolio-container {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.project-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
}

.project-info {
max-width: 400px;
}

.project-img {
  height: 300px;
  width: 400px;
  border-radius: 8px;
  margin: 10px;
}
