section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #2e2e2eed;
  color: #ffffff;
}

.resume-link {
  text-decoration: none;
}

.resume-link:hover {
transform: scale(1.05);
}



.resume-content {
  text-align: justify;
  line-height: 1.6;
  font-size: 1.1em;
  max-width: 800px;
  color: #ffffff;
}

.resume-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff;
}